<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <setting id="version" type="java.lang.String"/>
    <setting id="language" type="java.lang.String"/>
    <setting id="pauseOnLostFocus" type="java.lang.Boolean"/>
    <setting id="showSightLines" type="java.lang.Boolean"/>
    <setting id="volume" type="java.lang.Integer"/>
    <setting id="maxFPS" type="java.lang.Integer"/>
</settings>